## Psychoinformatics - Week 1 (Exercises)
by bo-yong lin (r10945002@ntu.edu.tw)

## 1 Validating the findings about power poses (8 points)
Do <a href="https://www.youtube.com/watch?v=Ks-_Mh1QhMc">power poses</a> really work?
Let's analyze the data (keller2017.csv) from:

Keller, V. N., Johnson, D. J., & Harder, J. A. (2017). <a href="https://www.tandfonline.com/doi/abs/10.1080/23743603.2017.1341186">
Meeting your inner super (wo)man: are power poses effective when taught?</a> Comprehensive Results in Social Psychology, 2(1), 106-122.

where<br>

4 experimental conditions were AC (Aware-Constrictive), AE (Aware-Expansive), UC (Unaware-Constrictive), & UE (Unaware-Expansive)<br>
<br>
and<br>
<br>
3 dependent measures were body expansiveness, performance (in a job interview), & hireability scored by 4 independent raters.

Please construct 3 pandas dataframes df1, and df2, and df3 where <br><br>
<b>df1</b>, derived from df, has only 13 columns of interest (cond, expansiveness1-4, performance1-4, hire1-4) and no missing values (2 points) ;<br><br>
<b>df2</b>, derived from df1, has 4 columns that average expansiveness1-4 into "expansiveness", "performance1-4" into "performance", & hire1-4 into "hire" (df1 & df2 should have the same number of rows) (2 points) ; <br><br>
<b>df3</b>, derived from df2, calculates the means of each dependent variable in each condition (2 points) ;

Finally, run three two-way ANOVAs to see if there is any statistically significant result for each dependent measure (2 point). See <a href="https://www.statology.org/two-way-anova-python/">this page</a> for an example.

In [6]:
import pandas as pd
import numpy as np

df=pd.read_csv("https://ceiba.ntu.edu.tw/course/4671ea/content/keller2017.csv")

In [7]:
# df1
columns_of_interest = [
    'cond',
    'expansiveness_1', 'expansiveness_2', 'expansiveness_3', 'expansiveness_4',
    'performance_1', 'performance_2', 'performance_3', 'performance_4',
    'hire_1', 'hire_2', 'hire_3', 'hire_4'
    ]
df1 = df[columns_of_interest]
df1 = df1.dropna()

# df2
expansiveness = np.mean(df1.iloc[:, 1:5], 1)
performance = np.mean(df1.iloc[:, 5:9], 1)
hire = np.mean(df1.iloc[:, 9:13], 1)
df2 = pd.DataFrame({df1.columns[0]:df1['cond'], 'expansiveness':expansiveness, 'performance':performance, 'hire':hire})

# df3
df3=df2.groupby('cond').agg({'expansiveness': np.mean, 'performance': np.mean, 'hire': np.mean})
print(df1.shape,df2.shape)
print(df3)

(194, 13) (194, 4)
      expansiveness  performance      hire
cond
AC         3.586957     3.967391  1.853261
AE         3.607955     3.460227  1.982955
UC         3.435185     3.717593  1.916667
UE         3.685000     3.765000  1.940000

In [8]:
# two-way ANOVAs
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('hire ~ C(expansiveness) + C(performance) + C(cond)', data=df2).fit()
sm.stats.anova_lm(model, typ=2)

                     sum_sq     df          F        PR(>F)
C(expansiveness)   1.505296   19.0   1.254341  2.225867e-01
C(performance)    24.033658   21.0  18.119563  3.475235e-31
C(cond)            0.105899    3.0   0.558878  6.429824e-01
Residual           9.474234  150.0        NaN           NaN

In [9]:
model = ols('expansiveness ~ C(hire) + C(performance) + C(cond)', data=df2).fit()
sm.stats.anova_lm(model, typ=2)

                   sum_sq     df         F    PR(>F)
C(hire)          9.054815    8.0  1.867434  0.068524
C(performance)  41.085162   21.0  3.227910  0.000014
C(cond)          2.785954    3.0  1.532175  0.208211
Residual        97.582089  161.0       NaN       NaN

In [10]:
model = ols('performance ~ C(expansiveness) + C(hire) + C(cond)', data=df2).fit()
sm.stats.anova_lm(model, typ=2)

                      sum_sq     df          F        PR(>F)
C(expansiveness)   11.322270   19.0   1.966589  1.267759e-02
C(hire)           107.257501    8.0  44.245731  4.433886e-37
C(cond)             1.713774    3.0   1.885237  1.341186e-01
Residual           49.391693  163.0        NaN           NaN

### Results
Two-way ANOVA showed a significant correlation between performance (p-value: 4.433886e-37) and hireability (p-value: 3.475235e-31). Expansiveness appears to have less impact on other dependent measures.

### Please export this file to HTML and submit it to NTU COOL before next Friday (2023/9/15).